# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# PyInstaller build artifacts
build/
dist/
*.spec

# Pytest
.pytest_cache/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
